<div class="mt-5 flex flex-col gap-5">
	<form
		class="flex flex-col gap-5"
		[formGroup]="registrationForm"
		(submit)="onSubmit()"
	>
		<div class="flex gap-2">
			<p-floatlabel variant="on">
				<input
					pInputText
					id="firstName"
					autocomplete="off"
					class="w-full"
					type="text"
					formControlName="firstName"
				/>
				<label for="firstName">First Name</label> </p-floatlabel
			><p-floatlabel variant="on">
				<input
					pInputText
					id="lastName"
					autocomplete="off"
					class="w-full"
					type="text"
					formControlName="lastName"
				/>
				<label for="lastName">Last Name</label>
			</p-floatlabel>
		</div>
		<p-floatlabel variant="on">
			<input
				pInputText
				id="email"
				autocomplete="off"
				class="w-full"
				type="email"
				formControlName="email"
			/>
			<label for="email">Email</label>
		</p-floatlabel>

		<div>
			<p-floatlabel variant="on">
				<input
					pInputText
					id="password"
					autocomplete="off"
					class="w-full"
					type="password"
					formControlName="password"
				/>
				<label for="password">Password</label>
			</p-floatlabel>
		</div>

		<p-button
			type="submit"
			label="Sign up"
			class="flex w-full justify-center"
		/>
	</form>
	<div class="flex justify-center text-xs">
		<p>Already have an account?</p>
		<a class="mx-2 text-indigo-400 hover:text-indigo-200" routerLink="/">
			Sign in
		</a>
	</div>
</div>
