<div class="flex h-screen">
	<div class="image-section w-1/2">
		<img
			src="assets/images/main-img.jpg"
			alt="Main decorative image for the homepage"
			class="h-full w-full object-cover opacity-35"
		/>
	</div>
	<div class="flex w-1/2 items-center justify-center">
		<div class="flex w-4/6 flex-col">
			<div>
				<img
					src="assets/images/workout-planner.png"
					alt="Workout Planner logo"
					class="h-auto w-full"
				/>
			</div>
			<router-outlet></router-outlet>
		</div>
	</div>
</div>
